Instance: {{ instance }}
InstanceOf: ValueSet
Usage: #definition
* name = "{{ name }}"
* title = "{{ title }}"
* status = #active
* experimental = false
* description = "ValueSet {{ title }} from EDQM, {{ edqm_class }}, see https://standardterms.edqm.eu/#"
* immutable = false
* compose.include.system = "https://standardterms.edqm.eu"

{% for code_des in codes %}
* compose.include.concept[+].code = #{{ code_des.code }}
* compose.include.concept[=].display = "{{ code_des.english }}"
  {% for translation in code_des.translations %}
* compose.include.concept[=].designation[+].language = #{{ translation.language|lower }}-{{ translation.region|upper }}
* compose.include.concept[=].designation[=].value = "{{ translation.term }}"
  {% endfor %}
{% endfor %}