<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">IG Home</a>
	</li>
	<li>
		<a href="toc.html">Table of Contents</a>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="#">How to use this Publication</a>
			</li>
			<li>
				<a href="intro.html">Introduction</a>
			</li>
			<li>
				<a href="#">Goals and Scope</a>
			</li>
			<li>
				<a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Specification<img src="external.png" style="text-align: baseline"/>
				</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Functional Description<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="#">Use Cases</a>
			</li>
			<li>
				<a href="#">Logical Models</a>
			</li>

		</ul>

	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Specifications<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="artifacts.html">Artifact Index</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Terminology<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="terminology.html">Terminology Resources</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Implementation<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="downloads.html">Downloads</a></li>
		</ul>
	</li>
</ul>      